<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daytoday.customer.dailydelivery">

    <permission android:name="android.permission.FLASHLIGHT" />
    <permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen.View.ScanActivity"></activity>
        <activity android:name=".HomeScreen.View.CalenderActivity" />
        <activity
            android:name=".HomeScreen.View.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBarNavBar"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".WalkThrough.WalkThroughActivity" />
        <activity android:name=".LoginActivity.LoginPage" />
        <activity android:name=".LoginActivity.OtpVerification" />
        <activity android:name=".LoginActivity.PhoneVerification" />
        <activity android:name=".BlankActivity" />
        <activity android:name=".WalkThrough.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>